mat-list{
    
    display: flex;
    flex-direction: column;
    justify-content:center ;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

 
:root {
    --primary-color: #3f51b5;
    --background-color: #303030;
    --surface-color: #424242;
    --divider-color: #757575;
    --text-color: #ffffff;
    --icon-color: #ffeb3b;
    --hover-background-color: #37474f;
  }

  .dashboard-title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
  }

  .team-list {
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
  }

  .team-subheader {
    color: var(--text-color);
  }

  .team-member-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--surface-color);
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background 0.3s;
  }

  .team-member-item:hover {
    background: var(--hover-background-color);
  }

  .member-icon {
    color: var(--icon-color);
    margin-right: 20px;
  }

  .member-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--text-color);
  }

  .member-name {
    font-size: 16px;
    margin: 0;
  }

  .menu-button {
    margin-left: 10px;
    color: var(--text-color);
  }

  mat-menu {
    background: var(--surface-color);
    color: var(--text-color);
  }

  mat-menu-item {
    display: flex;
    align-items: center;
  }

  mat-menu-item mat-icon {
    margin-left: 10px;
  }

  .item-divider {
    background-color: var(--divider-color);
  }

  .list-divider {
    background-color: var(--divider-color);
  }