<h1 matDialogTitle>Details</h1>
<mat-dialog-content *ngIf="teamMember$ | async as teamMember" class="content">
  <p><span>Name:</span> {{ teamMember.name }}</p>
  <p><span>Email:</span> {{ teamMember.email }}</p>
  <p><span>Position:</span> {{ teamMember.position }}</p>
  <h3>tasks</h3>
  <p>{{ teamMember.name }} is assigned {{ teamMember.Tasks.length }} tasks</p>
  <div>
    @for (task of teamMember.Tasks ; track task; let i= $index) {
    <div>
      <p>task number {{ i + 1 }}</p>
      <p><span>Status:</span> {{ task.status }}</p>
      <p><span>Summary:</span> {{ task.summary }}</p>
      <p><span>Description:</span> {{ task.description }}</p>

      @if (!$last) {
      <mat-divider></mat-divider>
      }
    </div>
    }
    <mat-divider></mat-divider>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
