*{
    margin: 5px;
}
.content {
    height: auto;
    padding: 20px;
    width: 100%;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    // font-size: large;
    font-weight: bold;
}

mat-accordion{
    margin: 10px;
}

.content-card{
        display: flex;
        flex-direction: column;
      justify-content: center;
      align-items: center;

}

mat-card{
    width: 400px;
}